<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <div class="sidebar-container">
          <div class="menu-container">
            <div class="top-menu-container">
              <div class="menu-icon">
                <img src="/images/hamburger.png" alt="menu-button" />
              </div>
              <div class="logo">
                <img src="/images/logo.png" alt="Logo" />
              </div>
            </div>
            <div class="bottom-menu-container">
              <div class="dashboard-container">
                <a href="/dashboard" class="dashboard">
                  <i class="icon-dashboard"></i>
                  <span>Dashboard</span>
                </a>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul>
              <li>
                <a href="/projects">
                  <i class="icon-ui-elements"></i>
                  <span>Projects</span>
                </a>
              </li>
              <% if (user.role_id === 3) { %>
              <li>
                <a href="/users">
                  <i class="icon-form-elements"></i>
                  <span>Users</span>
                </a>
              </li>
              <% } %>
              <li>
                <a href="/reports/hours">
                  <i class="icon-tables"></i>
                  <span>Reports</span>
                </a>
              </li>
              <li>
                <a href="/invoices">
                  <i class="icon-icons"></i>
                  <span>Invoices</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-content-container">
          <div class="search-container">
            <div class="search-container-left">
              <div class="message-container">
                <div class="welcome-massage">
                  <h2>Welcome, <%= user.name %></h2>
                </div>
                <div class="additional-massage"></div>
              </div>
            </div>
            <div class="search-container-right">
              <div class="search-bar-container">
                <div class="search-bar">
                  <i class="fas fa-search"></i>
                  <input type="search" name="search" placeholder="Search" />
                </div>
              </div>
              <div class="account-button">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="content-container">
            <div class="general-container">
              <div>
                <p class="title">Tijd Jaarbasis</p>
                <h3 class="Tijd">255:31</h3>
              </div>
              <div>
                <p class="title">Tijd Ingeklokt</p>
                <h3 class="percentage">9:01</h3>
              </div>
              <div>
                <p class="title">Werktijd</p>
                <h3 class="percentage">05:41</h3>
              </div>
              <div>
                <p class="title">Ingeklokt</p>
                <h3 class="percentage">Ja</h3>
              </div>
            </div>
            <div class="cards-container">
              <div class="links-cards-container">
                <div class="inklok-container">
                  <div class="inklok-boven">
                    <h4>Inklokken</h4>
                    <h5>Hier kan je inklokken</h5>
                  </div>
                  <div class="inklok-onder">
                    <button id="inklok-button" type="button">Inklok</button>
                    <button id="uitklok-button" type="button">Uitklok</button>
                  </div>
                </div>
                <div class="donut-card-container">
                  <canvas id="donutChart" width="400" height="400"></canvas>
                </div>
              </div>
              <div class="rechts-cards-container">
                <div class="opdrachten-card-container"></div>
                <div class="top-klant-container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
