<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style-dashboard.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <div class="sidebar-container">
          <div class="menu-container">
            <div class="top-menu-container">
              <div class="menu-icon"></div>
              <div class="logo"></div>
            </div>
            <div class="bottom-menu-container">
              <div class="dashboard-container">
                <a href="/dashboard" class="dashboard">
                  <i class="icon-dashboard"></i>
                  <span>Dashboard</span>
                </a>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul>
              <li>
                <a href="/projects">
                  <i class="icon-ui-elements"></i>
                  <span>Projects</span>
                </a>
              </li>
              <% if (user.role_id === 3) { %>
              <li>
                <a href="/users">
                  <i class="icon-form-elements"></i>
                  <span>Users</span>
                </a>
              </li>
              <% } %>
              <li>
                <a href="/reports/hours">
                  <i class="icon-tables"></i>
                  <span>Reports</span>
                </a>
              </li>
              <li>
                <a href="/invoices">
                  <i class="icon-icons"></i>
                  <span>Invoices</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-content-container">
          <div class="search-container"></div>
          <div class="content-container"></div>
        </div>
      </div>
    </div>
  </body>
</html>
