<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style-login.css" />
  </head>
  <body>
    <form action="/auth/login" method="post">
      <div class="main-container">
        <div class="main-inlog-container">
          <div class="content-container">
            <div class="logo">
              <img src="/images/logo.png" alt="Company Logo" />
            </div>

            <div class="input-container">
              <input
                id="email"
                type="email"
                name="email"
                placeholder="Email"
                required
              />
              <input
                id="password"
                type="password"
                name="password"
                placeholder="Wachtwoord"
                required
              />
              <div class="wachtwoord-vergeten">
                <a href="/auth/forgot-password">Wachtwoord vergeten?</a>
              </div>
            </div>
            <div class="button-container">
              <button type="submit" id="login-button">Login</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <% if (error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>
  </body>
</html>
