<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="/css/style-login.css" />
</head>
<body>
  <form action="/auth/reset-password/<%= token %>" method="post">
    <div class="main-container">
      <div class="main-inlog-container">
        <div class="content-container">
          <div class="logo">
            <img src="/images/logo.png" alt="Company Logo" />
          </div>

          <div class="input-container">
            <input id="password" type="password" name="password" placeholder="New Password" required />
            <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm New Password" required />
          </div>
          <div class="button-container">
            <button type="submit" id="reset-button">Reset Password</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
</html>
