:root {
  --main-container: #f4f5f7;
  --gilde-pink: #e01866;
  --gilde-blue: #12345d;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 100%;
}

.real-main-container {
  display: flex;
  justify-content: row;
  width: 100%;
  height: 100%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 13%;
  background-color: var(--main-container);
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.top-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40%;
}

.menu-icon img {
  max-width: 60%;
  max-height: 60%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
}

.logo img {
  max-width: 90%;
  max-height: 90%;
}

.bottom-menu-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40%;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 55%;
  border-radius: 0 20px 20px 0;
  font-weight: bold;
  color: #12345d;
}

.sidebar-menu ul {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sidebar-menu ul li {
  display: flex;
  align-items: center;
}

.sidebar-menu ul li a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  width: 70%; /* Set initial width */
  height: 40%; /* Set initial height */
  transition: background-color 0.3s, width 0.3s, height 0.3s, border-radius 0.3s;
}

.sidebar-menu ul li a:hover,
.sidebar-menu ul li a.active {
  background-color: white;
  color: var(--gilde-blue);
  width: 70%; /* Adjust width on hover */
  height: 40%; /* Adjust height on hover */
  border-radius: 0 20px 20px 0;
}

.sidebar-menu ul li a i {
  margin-left: 55px;
}

.sidebar.closed {
  width: 70px;
}

.sidebar.closed .logo {
  display: none;
}

.sidebar.closed .sidebar-menu ul li a span {
  display: none;
}

.sidebar.closed .sidebar-menu ul li a {
  justify-content: center;
}

.sidebar.closed .sidebar-header .menu-toggle {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 87%;
  height: 100%;
  background-color: #fff;
}

.top-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: var(--main-container);
  border-bottom: 1px solid #ccc;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 35%;
}

.search-bar {
  display: flex;
  align-items: center; /* Align items to the center */

  width: 25%;
  height: 43%;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 20px; /* More rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 0 15px; /* Padding for content inside */
  background-color: #fff; /* White background */
  transition: box-shadow 0.3s, border-color 0.3s; /* Smooth transitions */
}

.search-bar i {
  margin-right: 10px; /* Space between icon and input */
  color: #888; /* Icon color */
}

.search-bar input {
  border: none; /* Remove border from input */
  outline: none; /* Remove outline from input */
  flex: 1; /* Allow input to take available space */
}

.search-bar:focus-within {
  border-color: var(--gilde-blue); /* Border color change on focus */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow on focus */
}
.sorting-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: var(--main-container);
  border-bottom: 1px solid #ccc;
}

.sort-button {
  background-color: transparent;
  border: none;
  color: var(--gilde-blue);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-button i {
  margin-left: 5px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  overflow-y: auto;
  position: relative;
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

#reportsTable {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

#reportsTable th,
#reportsTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#reportsTable th {
  background-color: var(--main-container);
}

#reportsTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#reportsTable tbody tr:hover {
  background-color: #f1f1f1;
}
